@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700;800;900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

a.meanmenu-reveal {
	display: none;
}
.navbar{
	padding: 0;
}
/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
	float: left;
	width: 100%;
	position: absolute;
	background: transparent;
	padding: 20px 0 0;
	z-index: 999;
	height: 55px;
}
.mean-container .mean-nav .nav-ul{
    overflow-y: scroll;
	height: 345px;
	box-shadow: 1px 4px 5px 1px #aaa8a8;
	margin-top: 11px;
}
.mean-container a.meanmenu-reveal {
	width: 35px;
	height: 30px;
	padding: 12px 15px 0 0;
	position: absolute;
	right: 0;
	cursor: pointer;
	color: #252525;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-weight: 700;
}
.mean-container a.meanmenu-reveal span {
	display: block;
	background:#002155;
	height: 4px;
    margin-top: 3px;
    border-radius: 3px;
}
.mean-container .mean-nav {
	float: left;
	width: 100%;
	background: #ffffff;
	margin-top: 76px;
}
.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	border: none;
	list-style-type: none;
}
.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
}
.mean-container .mean-nav ul li a {
	display: block;
	float: left;
	width: 90%;
	padding: 1em 5%;
	margin: 0;
	text-align: left;
	color:#7E57FF;
	border-top: 1px solid #8e6ef844;
	text-decoration: none;
}
.mean-container .mean-nav ul li li a {
	width: 80%;
	padding: 1em 10%;
	color: #7E57FF;
	border-top: 1px solid #7e57ff57;
	opacity: 1;
	filter: alpha(opacity=75);
	text-shadow: none !important;
	visibility: visible;
	text-transform: none;
	font-size: 14px;
}
.mean-container .mean-nav ul li a.active {
    color: #FF4328 !important;
}
.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}
.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 1em 15%;
}
.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 1em 20%;
}
.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 1em 25%;
}
.mean-container .mean-nav ul li a:hover {
	background: #252525;
	background: rgba(255,255,255,0.1);
}
.mean-container .mean-nav ul li a.mean-expand {
	margin-top: 3px;
	width: 100%;
	height: 24px;
	padding: 12px !important;
	text-align: right ;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	font-weight: 700;
	background: transparent;
	border: none !important;
}
.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}
.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.mean-remove {
	display: none !important;
}
.tab-nab{
    display: none;
}
.mobile-nav {
    display: none;
}
.small-device-search{
	display: none;
}
.mobile-nav.mean-container .mean-nav ul li a.active {
    color: #21CDC0 !important;
}
.main-nav {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 999;
	height: auto;
	box-shadow: 3px 3px 8px rgba(194, 189, 189, 0.664);
}
#home1-header .main-nav {
	background:  #ffffff;
}
.mean-nav .dropdown-toggle::after {
	display: none;
}
.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.main-nav nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.main-nav nav .navbar-nav .nav-item {
    position: relative;
	padding: 25px 30px 25px 20px;
	margin: 0 0;
}
#home1-header .main-nav nav .navbar-nav .nav-item {
	border-right: 1px solid #7e57ff25;
	width: 118px;
	padding: 25px 10px 25px 0;
	text-align: center;
}
#home1-header .main-nav nav .navbar-nav .icon-less{
	padding: 25px 0px 25px 0;
}
#home1-header .main-nav nav .navbar-nav .nav-item-1{
	border-left: 1px solid #7e57ff1e;

}
#home1-header .main-nav nav .navbar-nav .bar-item{
	padding: 0 0px;
	border-right: none;
	text-align: left;
	width: 64px;
}
#home1-header .top-menu {
	background: #002155 !important;
}
#home1-header .main-nav nav .navbar-nav .nav-item .dropdown-menu li{
	padding: 0;
	width: 100%;
	text-align: left;
	border-right: none;
}
#home1-header .main-nav nav ul {
    margin: 0 0 0 auto;
}
#home1-header .main-nav nav .navbar-nav .bar-item .menu-bar-btn{
	height: 100%;
	background: #683afd;
	border-radius: 0;
	border: 1px solid  #683afd;
}
#home1-header .main-nav nav .navbar-nav .bar-item i{
	padding: 0 10px;
	border-right: none;
	font-size: 25px;
}
.main-nav nav .navbar-nav .nav-item i.fa.fa-angle-down{
	font-size: 13px;
	position: absolute;
	top: 30px;
	margin-left: 5px;
	color: #6e6d6d98;
}
.main-nav nav .navbar-nav .nav-item a {
    font-weight: 600;
    font-size: 16px;
    color: #6e6d6d;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
	margin-left: 10px;
    margin-right: 10px;
	font-family: 'Catamaran', sans-serif;
	transition: all 0.5s;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu {
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    border-top: 3px solid #6a3dfd;
    position: absolute;
    top: 80px;
    left: 0;
    width: 190px;
    z-index: 99;
    display: block;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li {
    position: relative;
	padding: 0;
	border-right: none;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a {
    font-size: 15px;
    font-weight: 500;
    padding: 9px 15px;
    margin: 0;
	display: block;
	color: #252525;
    font-family: 'Catamaran', sans-serif;
}
/* .main-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover, 
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a:focus, 
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #21CDC0;
} */
.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    position: absolute;
    left: -100%;
    top: 0;
    opacity: 0 !important;
    visibility: hidden !important;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
    opacity: 1 !important;
    visibility: visible !important;
    top: -20px !important;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
    position: absolute;
    left: -100%;
    top: 0;
    opacity: 0 !important;
    visibility: hidden !important;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu li:hover .dropdown-menu {
    opacity: 1 !important;
    visibility: visible !important;
    top: -20px !important;
}
.main-nav nav .navbar-nav .nav-item .products{
	margin-left: 4px;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
    color: #ffffff;
}
/* .main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, 
.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, 
.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
    color: #21CDC0;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li:hover a {
    color:  #21CDC0;
} */
.main-nav nav .navbar-nav .nav-item:hover ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.main-nav nav .navbar-nav .nav-item:last-child .dropdown-menu {
    left: auto;
    right: 0;
}

/* Responsive Style */
@media only screen and (max-width: 991px) {
    .tab-nab {
        display: block;
        position: relative;
        background: #ffffff;
		height: 76px;
	}
	.sticky-menu{
		width: 100%;
		background: #ffffff;
	}
    .mobile-nav{
        display: block;
        position: relative;
	}
	.small-device-search{
		display: block;
	}
	i.fa.fa-angle-down{
		display: none;
	}
	i.fa.fa-angle-down.products {
		margin-left: 3px;
	}
    .mobile-nav .logo {
		text-decoration: none;
        position: absolute;
		top: 11px;
		left: 0;
        z-index: 999;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 20px;
    }
    .mean-container .mean-bar {
        background-color: #fff;
        padding: 0;
    }
    .mean-container a.meanmenu-reveal {
        padding: 25px 3px 0 0;
    }
    .main-nav {
        display: none !important;
    }
}